@import url("https://fonts.googleapis.com/css2?family=Roboto|Playfair+Display&display=swap");

:root {
	--primary-color: #ff7070;
	--background-color: linear-gradient(90deg, #fff6ad 0.23%, #ffb0f2 99.53%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

body {
	font-family: "Roboto", sans-serif;
	background: var(--background-color);
}

/* For larger screen menu links are visible */
.hamburger-menu-icon {
	display: none;
}

.navbar {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 8vh;
	padding: 1rem;
}

.navbar__link {
	text-decoration: none;
	font-family: "Playfair Display", serif;
	color: black;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 2px;
}

.navbar__link:hover {
	color: whitesmoke;
	text-decoration: underline;
}

/* Main Section */
.main-section {
	margin-top: 8vh;
	height: calc(100vh - 8vh); /* full height - navbar height of 5vh*/
	width: 100%;
	display: flex;
}

.main-section__image-container {
	width: 50%;
}

.main-section__image {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	cursor: pointer;
}

.main-section__content {
	line-height: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5vw;
	padding-right: 5vw;
	gap: 3rem;
}

.main-section__title {
	font-size: 3rem;
	letter-spacing: 2px;
	margin-bottom: 5vh;
}

.main-section__paragraph {
	overflow: hidden;
	text-align: left;
	font-size: large;
	font-weight: lighter;
}

.main-section__button {
	max-width: 180px;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	border: none;
	font-size: 0.8rem;
	background-color: var(--primary-color);
	color: white;
	cursor: pointer;
}

.main-section__button:hover {
	color: black;
	background-color: rgb(255, 135, 135);
}

/* Style for the secondary section */
.secondary-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5vw;
	max-width: 100%;
	box-sizing: border-box;
}

.secondary-section__images {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: 70vh;
}

.image-container__first {
	display: flex;
	gap: 2%;
	flex-direction: column;
	width: 50%;
}

.image-container__first img {
	width: 100%;
	height: 49%;
	object-fit: cover;
}

.image-container__second {
	flex: 1;
}

.image-container__second img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.secondary-section__content-container {
	background-color: var(--primary-color);
	min-height: 220px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 2vw;
	overflow: hidden;
}

.secondary-section__subtitle {
	letter-spacing: 2px;
	font-size: 3.5vw;
	line-height: 3rem;
}

.secondary-section__paragraph {
	font-size: 1.5vw;
	overflow: hidden;
}

.secondary-section__link {
	color: black;
	display: flex;
	gap: 1vw;
	align-items: center;
	text-decoration: none;
}

.secondary-section__link:hover {
	color: whitesmoke;
}

@media (max-width: 360px) {
	.navbar {
		height: 5vh;
	}

	.main-section {
		margin-top: 5vh;
		height: auto;
	}

	.main-section__image-container {
		width: 100%;
		height: 100%;
	}

	.secondary-section__paragraph {
		font-size: large;
	}

	.secondary-section__subtitle {
		font-size: 1.5;
	}
}

@media (max-width: 880px) {
	.navbar {
		justify-content: flex-end;
		height: 5vh;
	}

	.navbar__link {
		display: none;
	}

	.hamburger-menu-icon {
		display: block;
		width: 30px;
		height: auto;
	}
	.main-section {
		flex-direction: column-reverse;
		margin-top: 5vh;
		height: auto;
	}

	.main-section__image-container {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.main-section__image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	.main-section__content {
		line-height: 1.5rem;
		gap: 1rem;
		padding-left: 2vw;
		padding-right: 2vw;
	}

	.main-section__title {
		margin-top: 1vh;
		margin-bottom: 3vh;
		font-size: 2rem;
	}

	/* Secondary section adjustments */
	.secondary-section {
		flex-direction: column;
		width: 100%;
		gap: 5%;
	}

	.secondary-section__content-container {
		height: 100%;
		padding-top: 1vh;
		margin: 1vw;
		width: 98vw;
		margin-left: 0;
	}

	.secondary-section__paragraph {
		font-size: large;
	}

	.secondary-section__subtitle {
		font-size: 2.5rem;
	}
}

@media (max-width: 970px) {
	.main-section__title {
		margin-top: 6vh;
	}
	.main-section__paragraph {
		font-size: smaller;
	}
	.main-section__button {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 5vh;
	}
}

@media (max-width: 1047px) {
	.main-section__title {
		font-size: 2rem;
	}
}
